			
				<footer class="flex-container"> copyrighted to &copy;Rempixel but open for all
				</footer>
			</div><!---END OF CONTAINER -->

		<script src="jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
	<body>
</html>